<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{{#each properties}}
				<li><a href="#">{{this.name}}</a></li>
				{{/each}}
			</ul>
		</div>